.card-container {
    display: flex;
    height: 20rem;
    border-radius: 15%;
    margin-top: 3rem;
    margin-left: 2rem;
    width: 20rem;
    perspective: 1000px;
    position: relative;
}

.card-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.card-back {
    background-color: #f0f0f0;
    color: #333;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.card-summary {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #555;
}

.card-skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-skills {
    background-color: #8e6ddc;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin: 0.25rem;
    font-size: 0.875rem;
}

.card-img {
    width: 40%;
    height: auto;
    border-radius: 15%;
}

.company-name {
    margin-top: 2rem;
    font-size: 18px;
    color: var(--Purple-Gradient, linear-gradient(90deg, #B224EF 0%, #8e6ddc 100%));
}

.position {
    font-size: 14px;
    color: var(--Purple-Gradient, linear-gradient(90deg, #B224EF 0%, #8e6ddc 100%));
}

.card-summary,
.card-skills {
    margin: 5px 0;
}

@media (max-width: 600px) {
    .card-container {
        height: 15rem;
        width: 15rem;
    }

    .company-name {
        font-size: 16px;
    }

    .position {
        font-size: 12px;
    }
}