.contact-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-top: 8rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    border-radius: 5%;
    height: 45rem;
    width: 100%;
}

.contact-left {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5% 0% 0% 5%;
    background: var(--Purple-Gradient, linear-gradient(90deg, #B224EF 0%, #8e6ddc 100%));
}

.contact-title {
    color: white;
    font-size: 64px;
    font-weight: 600;
}

.contact-subtitle {

    font-size: 28px;
    font-weight: 600;
    background-clip: text;
    background: var(--Degrade, linear-gradient(90deg, #B224EF 0%, #7579FF 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.contact-document {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.Social-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.link-logo {
    width: 5rem;
    height: auto;
}

.email-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.other-links {
    margin-top: 2rem;
}

.calendary-link {
    height: 4rem;
    background-color: #0069FF;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.small-logo {
    background-color: #fff;
    padding: 0.5rem;
    width: 2rem;
    height: auto;
    border-radius: 50%;
    margin-left: 1rem;
}

.resume-link {
    height: 4rem;
    width: 20rem;
    background-color: #444;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}