.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: visible;
}

.lottie {
    margin-top: -10rem;
    margin-left: -13rem;
}



.intro {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: -7rem;
}


.greeding {
    display: flex;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    color: var(--Negro-Lineal, #2a2c55);
    margin-left: -5rem;
}

.first-line {
    display: flex;
    margin-left: -15rem;
    margin-bottom: 1rem;

}

.highlight {
    position: relative;
    left: -1rem;
    top: -2rem;
}

.button-section {
    display: flex;
    align-items: center;
    margin-left: -5rem;
}

.button-main {
    display: inline-flex;
    padding: 16px 45px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(90deg, #A65224 0%, #FE7624 68.5%);
    border: 0px;
}

.button-text {
    font-family: Poppins;
    font-size: 24px;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}




.description {
    width: 30rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    margin-top: 1.8rem;
    margin-left: -5rem;
    margin-bottom: -2rem;
}


.curved-arrow {
    position: relative;
    top: 3rem;
    left: 2rem;
}


@media (max-width: 425px) {
    .intro {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-top: -10rem;
    }

    .greeding {
        display: flex;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 105%;
        color: var(--Negro-Lineal, #2a2c55);
        margin-left: -5rem;
    }

    .first-line {
        display: flex;
        margin-left: -8rem;
        margin-bottom: 1rem;

    }

    .description {
        width: 18rem;
        font-size: .7rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: left;
        margin-top: 13rem;
        margin-left: -13rem;
    }

    .lottie {
        width: 20rem;
        height: 20rem;
        margin-top: -20rem;
        margin-left: auto;
    }



    .button-main {
        display: flex;
        flex-direction: row;
        height: 5rem;
        margin-left: -8rem;
    }

    .button-text {
        font-size: 1rem;
        color: #fff;
        font-weight: 600;
        width: 7rem;

    }

    .curved-arrow {
        visibility: hidden;
    }

}