.skill-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
    height: 100%;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.accent-title {
    height: 5rem;
    width: 10rem;
    position: relative;
    left: 4rem;
    top: 1.5rem;
}

.sub-title-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sub-title-text {
    font-size: 25px;
    font-weight: 600;
    background: var(--Degrade, linear-gradient(90deg, #B224EF 0%, #7579FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 20%;
    flex: 0 0 20%;
}

.logo {
    max-width: 100px;
    height: auto;
}

.concept-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lottie {
    width: 25%;
    height: 25%;
}

.scroller {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller_items {
    display: flex;
    flex-wrap: nowrap;
}


@media (max-width: 768px) {
    .accent-title {
        left: 2rem;
        top: 1rem;
        width: 8rem;
        height: 4rem;
    }

    .sub-title-text {
        font-size: 20px;
    }

    .logo {
        max-width: 70px;
    }

    .skill-item {
        padding: 0.5rem;
        width: 20%;
        flex: 0 0 20%;
    }

    .lottie {
        width: 20%;
        height: 20%;
    }
}